# ======================
# Data (never track)
# ======================
data/
*.csv
*.xlsx
*.tsv
*.adat
*.RData
*.rds

# ======================
# Results
# ======================
results/
figures/

# ======================
# R / RStudio
# ======================
.Rhistory
.RData
.Rproj.user/
*.Rproj

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log
*.tmp